h1 {
    font-size: medium;
    font-weight: 500;
    color: white;
    font-family: 'Playfair Display SC', serif;;
}
h2{
    font-size: 25px;
}
h4 {
    color:black;
    
}
p {
    color: green;
    padding-left: 0%;
    padding-right: 0%;
}
div {
    color: black ;
}
.reloj{
    font-size: 45px;
}

.cont {
    display: inline-flex;
    font-size: 20px;
    justify-content: center;
}
.imgProducto {
    width: 65%;
    justify-items: left;
}
producto_title{
    font: size 10px;
    color: black;
    text-align: center;
}

.card {
    display: inline-flex;
    justify-content: center;
    image-rendering: 25%;
}
.btnAgregar {
    border-radius: 5px;
    border: 50%;
    border-color: white;
    color: white;
    background-color: rgb(86, 216, 184);
}
.carrito{
    width: 3%;
    
}

#cartCounter{
    position: relative;
    width: 15px;
    height: 15px;
    color: white;
    background: red;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: center;
}

.titulo{
    color: #326789;
    width: 100vw;
    text-align: center;
    padding: 30px;
    font-size: 30px;
}

header {
    background-color: #5789a8;
    
}
